<!DOCTYPE html>
<html>



<head>
    <title>Twitter Watch</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />

</head>

<body>
    <header>
        <div class="header-content">
            <img src="static/images/twitter_logo.png" alt="Twitter Logo" class="header-image">
            <h1>Twitter Watch</h1>
        </div>
    </header>
    <nav>
        <form id="my-form">
          <ul>
            <div class="ul-text">
                <li>Select Twitter Account:</li>
            </div>
            <div class="ul-profile">
                <li>
                    <div class="profile-pic">
                        <img src="static/images/karimi.jpg"
                            alt="alikarimi_ak8 Profile Picture">
                    </div>
                    <button class="select" type="submit" name="selected_value"
                        value="alikarimi_ak8">alikarimi_ak8</button>
                </li>
                <li>
                    <div class="profile-pic">
                        <img src="static/images/obama.jpg"
                            alt="BarackObama Profile Picture">
                    </div>
                    <button class="select" type="submit" name="selected_value" value="BarackObama">BarackObama</button>
                </li>
                <li>
                    <div class="profile-pic">
                        <img src="static/images/lorenz.jpg"
                            alt="taylorlorenz Profile Picture">
                    </div>
                    <button class="select" type="submit" name="selected_value"
                        value="taylorlorenz">taylorlorenz</button>
                </li>
                <li>
                    <div class="profile-pic">
                        <img src="static/images/edwood.jpg"
                            alt="cathiedwood Profile Picture">
                    </div>
                    <button class="select" type="submit" name="selected_value" value="cathiedwood">cathiedwood</button>
                </li>
                <li>
                    <div class="profile-pic">
                        <img src="static/images/ylecun.jpg"
                            alt="ylecun Profile Picture">
                    </div>
                    <button class="select" type="submit" name="selected_value" value="ylecun">ylecun</button>
                </li>
            </div>
           </ul>
        </form>
    </nav>
    <main>
        <div class="left">
            <h2>Tweets:</h2>
            <div class="text-container">
                <textarea rows="5" cols="40" id="tweets">{{ tweets }}</textarea>
                <button class="copy" onclick="copyToClipboard('tweets', 'copyText0')"><span id="copyText0"><i
                            class="fa-solid fa-copy"></i></span></button>
            </div>
            <h2>Tweet Sentiments:</h2>
            <div class="text-container">
                <textarea rows="5" cols="40" id="tw_sentiment">{{ tw_sentiment }}</textarea>
                <button class="copy" onclick="copyToClipboard('tw_sentiment', 'copyText1')"><span id="copyText1"><i
                            class="fa-solid fa-copy"></i></span></button>
            </div>
            <h2>Page Description:</h2>
            <div class="text-container">
                <textarea rows="5" cols="40" id="description">{{ description }}</textarea>
                <button class="copy" onclick="copyToClipboard('description', 'copyText2')"><span id="copyText2"><i
                            class="fa-solid fa-copy"></i></span></button>
            </div>
            <h2>Sentiment Decision:</h2>
            <div class="text-container">
                <textarea rows="5" cols="40" id="sent_deci">{{ sent_deci }}</textarea>
                <button class="copy" onclick="copyToClipboard('sent_deci', 'copyText3')"><span id="copyText3"><i
                            class="fa-solid fa-copy"></i></span></button>
            </div>
        </div>
        <div class="right">
            <h2>Replies:</h2>
            <div class="text-container">
                <textarea rows="5" cols="40" id="replies">{{ replies }}</textarea>
                <button class="copy" onclick="copyToClipboard('replies', 'copyText4')"><span id="copyText4"><i
                            class="fa-solid fa-copy"></i></span></button>
            </div>
            <h2>Audience Sentiments:</h2>
            <div class="text-container">
                <textarea rows="5" cols="40" id="rp_sentiment">{{ rp_sentiment }}</textarea>
                <button class="copy" onclick="copyToClipboard('rp_sentiment', 'copyText5')"><span id="copyText5"><i
                            class="fa-solid fa-copy"></i></span></button>
            </div>
            <h2>Active Audiences:</h2>
            <div class="text-container">
                <textarea rows="5" cols="40" id="active">{{ active }}</textarea>
                <button class="copy" onclick="copyToClipboard('active', 'copyText6')"><span id="copyText6"><i
                            class="fa-solid fa-copy"></i></span></button>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
